html, body{
  height: 100%;
}
.buttonLeft{
  height: 20%;
  width: 100%;
  background-color: #FF7F50;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  font-family: "Arial";
}
.buttonLeft:active:focus{
  outline: none;
}
.left{
  height: 100%;
  width: 25%;
  float: left;
}
.paragraphHead{
  font-size:30px;

}
.box{
  height:25%;
  width:100%;
  background: #FFF;
  text-align: center;
  border-right: 1px solid;
}
.middle{
  height: 100%;
  width: 10%;
  float: left;
  overflow: scroll;
}
.middle2{
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  width: 35%;
  float:left;
  overflow: scroll;
}
.timebox{
  width: 45%;
}
.right{
  height:100%;
  width: 30%;
  float: left;
}
.calendar{
  height: 50%;
  width:100%;
  background-color: #FF7F50;
}
.events{
  height: 50%;
  width: 100%;
}
.timings {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: 0.5em;
  box-sizing: border-box
}
.timings span {
  font-size: 200%;
  color: #696969;
}
